
html,body{
    margin:0;
    }



#hero {
    margin: 2%;
    padding: 0%;
    display: grid;
    width: calc(100vw-30px);
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}

#hero-overlay {
    grid-area: 1 /1 / span 2 / span 3;
    opacity: 80%;
    background-color: blue;

}

#banner-photo {
    background-image: url(./imgs/splash_photo.jpg);
    grid-area: 1 /1/ span 2 / span 3;
    background-size:cover;
    background-repeat: no-repeat;
    margin: 0;
}

#hero-text {
    grid-area: 2/2/2/2;
    color: white;
    
    z-index: 1;
  }

  #about-me-nav-link {
    height: 100%; 
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;

  }
  
  #cv-nav-link {
    height: 100%; 
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;

  }

  #porfolio-nav-link {
    height: 100%; 
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;

  }