.filter {

}

#hero {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

#hero_overlay {
    display: absolute;
    
    background-color: blue;
    top:0;
    left:0;

}